@font-face { font-family: "Work Sans"; src: url('WorkSans-Regular.ttf'); } 

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Work Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-left: 10%;
}

.app.dark {
  background-color: #060606;
}

.count {
  font-size: min(12em, 30vw);
  cursor: pointer;
}

.session {
  display:flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin-bottom: 1em;
  color: gray;
  width: 23.33em;
  max-width: 90%;
}

.sessionodds {
  cursor: pointer;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-size: min(2em, 8vw);
  user-select: none;
  cursor: pointer;
  max-width: 90%;
}

.stats.dark {
  color:aliceblue;
}

.stats:active {
  color: gray;
}

.rate, .chance {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

.stats div div {
  text-align: left;
  margin-bottom: .1em;
}

.bar {
  height:4px;
  background-color: lightgrey;
  width: 35em;
  max-width: 90%;
}

.progress {
  height: 4px;
  background-color: gray;
  position:absolute;
}

.bar div:nth-child(2) {
  background-color: goldenrod;
}

.bar div:nth-child(3) {
  background-color: orangered;
}

.bar div:nth-child(4) {
  background-color: maroon;
}

.bar div:nth-child(n+5) {
  background-color: black;
}

.app:focus-visible {
  border: 0;
}

.options {
  position:absolute;
  top:0;
  right:0;
  width:10em;
  height:10em;
}

.gear {
  position:absolute;
  top:3em;
  right:3em;
  cursor: pointer;
}

.gear.dark {
  color:aliceblue;
}

.moon {
  cursor: pointer;
  height: 32px;
  margin-right: .75em;
}
.moon.dark {
  color: aliceblue;
}

.box {
  rotate: 180deg;
  cursor: pointer;
  height: 32px;
}
.box.dark {
  color: aliceblue;
}

.options .gear-transition-enter {
  opacity: 0;
}
.options .gear-transition-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}
.options .gear-transition-enter-done {
  opacity: 1;
}
.options .gear-transition-exit {
  opacity: 1;
}
.options .gear-transition-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}
.options .gear-transition-exit-done {
  opacity: 0;
}

.modal {
  position: absolute;
  display:flex;
  top: 6em;
  right: 3em;
  background-color: #d3d3d388;
  padding: 1em;
  border-radius: 1em;
}

.modal-container .modal-transition-enter {
  opacity: 0;
}
.modal-container .modal-transition-enter-active {
  opacity: 1;
  transition: opacity 250ms;
}
.modal-container .modal-transition-enter-done {
  opacity: 1;
}
.modal-container .modal-transition-exit {
  opacity: 1;
}
.modal-container .modal-transition-exit-active {
  opacity: 0;
  transition: opacity 250ms;
}
.modal-container .modal-transition-exit-done {
  opacity: 0;
}