@font-face { font-family: "Work Sans"; src: url('WorkSans-Regular.ttf'); } 

html, body, #root {
  margin: 0;
  height: 100%;
  font-family: 'Work Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin-left: 10%;
}

.count {
  display:flex;
  justify-content: center;
  align-items: flex-end;
  font-size: min(12em, 42vw);
}

.session {
  display:flex;
  justify-content: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  font-size: min(2em, 8vw);
  user-select: none;
  cursor: pointer;
}

.rate, .chance {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}

.stats div div {
  text-align: left;
  margin-bottom: .1em;
}

.bar {
  height:4px;
  background-color: lightgrey;
  width: 35em;
  max-width: 90%;
}

.progress {
  height: 4px;
  background-color: gray;
}

/* div {
  border: 1px solid white;
} */